<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link
    href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/fc-5.0.1/datatables.min.css"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.0/font/bootstrap-icons.min.css"
    rel="stylesheet">
  <title>Tabla de Censo</title>
</head>

<body>
  <%- include ('partials/header') %>
    <div class="container xl bg-dark-subtle border border-dark-subtle rounded-3">
      <div class="row">
        <div class="col text-dark-emphasis">
          <h1 class="text-center mb-4">Tabla de Censo</h1>
          <table id="Censo"
            class="table display nowrap table-hover border border-dark-subtle rounded-3 width: 800px margin: 0 auto"
            style="width:100%">
            <p>
              <button id="button" type="submit"
                class="text-warning-emphasis btn btn-warning bg-warning-subtle btn-sm me-2 rounded-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
                  <path
                    d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z" />
                  <path
                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708" />
                </svg> Copiar filas seleccionadas</button>
            </p>
            <thead class="thead-dark text-center">
              <tr>
                <th>RESGUARDO INDIGENA</th>
                <th>COMUNIDAD INDIGENA</th>
                <th>FAMILIA</th>
                <th>TIPO IDENTIFICACION</th>
                <th>NUMERO DOCUMENTO</th>
                <th>NOMBRE</th>
                <th>APELLIDOS</th>
                <th>FECHA NACIMIENTO</th>
                <th>PARENTESCO</th>
                <th>SEXO</th>
                <th>ESTADO CIVIL</th>
                <th>PROFESION</th>
                <th>ESCOLARIDAD</th>
                <th>INTEGRANTES</th>
                <th>DIRECCION</th>
                <TH>TELEFONO</TH>
                <th>USUARIO</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach(item=> { %>
                <tr>
                  <td>
                    <%= item['RESGUARDO INDIGENA'] %>
                  </td>
                  <td>
                    <%= item['COMUNIDAD INDIGENA'] %>
                  </td>
                  <td>
                    <%= item['FAMILIA'] %>
                  </td>
                  <td>
                    <%= item['TIPO IDENTIFICACION'] %>
                  </td>
                  <td>
                    <%= item['NUMERO DOCUMENTO'] %>
                  </td>
                  <td>
                    <%= item['NOMBRE'] %>
                  </td>
                  <td>
                    <%= item['APELLIDOS'] %>
                  </td>
                  <td>
                    <%= item['FECHA NACIMIENTO'] %>
                  </td>
                  <td>
                    <%= item['PARENTESCO'] %>
                  </td>
                  <td>
                    <%= item['SEXO'] %>
                  </td>
                  <td>
                    <%= item['ESTADO CIVIL'] %>
                  </td>
                  <td>
                    <%= item['PROFESION'] %>
                  </td>
                  <td>
                    <%= item['ESCOLARIDAD'] %>
                  </td>
                  <td>
                    <%= item['INTEGRANTES'] %>
                  </td>
                  <td>
                    <%= item['DIRECCION'] %>
                  </td>
                  <td>
                    <%= item['TELEFONO'] %>
                  </td>
                  <td>
                    <%= item['USUARIO'] %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
            <tfoot>
              <tr>
                <th>RESGUARDO INDIGENA</th>
                <th>COMUNIDAD INDIGENA</th>
                <th>FAMILIA</th>
                <th>TIPO IDENTIFICACION</th>
                <th>NUMERO DOCUMENTO</th>
                <th>NOMBRE</th>
                <th>APELLIDOS</th>
                <th>FECHA NACIMIENTO</th>
                <th>PARENTESCO</th>
                <th>SEXO</th>
                <th>ESTADO CIVIL</th>
                <th>PROFESION</th>
                <th>ESCOLARIDAD</th>
                <th>INTEGRANTES</th>
                <th>DIRECCION</th>
                <th>TELEFONO</th>
                <th>USUARIO</th>
              </tr>
            </tfoot>
          </table>

          <!-- Modal -->
          <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content p-3 mb-2 bg-primary-subtle text-primary-emphasis">
                <div class="modal-header">
                  <h5 class="modal-title text-primary-emphasis" id="updateModalLabel">Datos copiados Con exito!</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body alert alert-info">
                  <p id="updateMessage" class="text-primary-emphasis"></p>
                </div>
                <div class="modal-footer">
                  <button type="button"
                    class="btn btn-primary bg-primary-subtle text-ligth-emphasis btn-sm me-2 rounded-3"
                    data-bs-dismiss="modal">Entendido</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script
      src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/fc-5.0.1/datatables.min.js"></script>

    <!-- Script para inicializar DataTable -->
    <script src="/js/dataTable-censo.js"></script>

</body>

</html>