<thead class="thead-dark text-center">
  <tr>
    <th>RESGUARDO INDIGENA</th>
    <th>COMUNIDAD INDIGENA</th>
    <th>FAMILIA</th>
    <th>TIPO IDENTIFICACION</th>
    <th>NUMERO DOCUMENTO</th>
    <th>NOMBRE</th>
    <th>APELLIDOS</th>
    <th>FECHA NACIMIENTO</th>
    <th>PARENTESCO</th>
    <th>SEXO</th>
    <th>ESTADO CIVIL</th>
    <th>PROFESION</th>
    <th>ESCOLARIDAD</th>
    <th>INTEGRANTES</th>
    <th>DIRECCION</th>
    <th>USUARIO</th>
  </tr>
</thead>
<tbody>
  <% data.forEach(item=> { %>
    <tr>
      <td>
        <%= item['RESGUARDO INDIGENA'] %>
      </td>
      <td>
        <%= item['COMUNIDAD INDIGENA'] %>
      </td>
      <td>
        <%= item['FAMILIA'] %>
      </td>
      <td>
        <%= item['TIPO IDENTIFICACION'] %>
      </td>
      <td>
        <%= item['NUMERO DOCUMENTO'] %>
      </td>
      <td>
        <%= item['NOMBRE'] %>
      </td>
      <td>
        <%= item['APELLIDOS'] %>
      </td>
      <td>
        <%= item['FECHA NACIMIENTO'] %>
      </td>
      <td>
        <%= item['PARENTESCO'] %>
      </td>
      <td>
        <%= item['SEXO'] %>
      </td>
      <td>
        <%= item['ESTADO CIVIL'] %>
      </td>
      <td>
        <%= item['PROFESION'] %>
      </td>
      <td>
        <%= item['ESCOLARIDAD'] %>
      </td>
      <td>
        <%= item['INTEGRANTES'] %>
      </td>
      <td>
        <%= item['DIRECCION'] %>
      </td>
      <td>
        <%= item['USUARIO'] %>
      </td>
    </tr>
    <% }) %>
</tbody>