<h1 class="text-center mb-4">Tabla de Renta ciudadana</h1>
<table id="Censo"
  class="table display nowrap table-hover border border-dark-subtle rounded-3 width: 800px margin: 0 auto"
  style="width:100%">
  <p><button id="submit" type="submit"
      class="text-warning-emphasis btn btn-warning bg-warning-subtle btn-sm me-2 rounded-3"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy"
        viewBox="0 0 16 16">
        <path d="M11 2H9v3h2z"></path>
        <path
          d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z">
        </path>
      </svg> Guardar cambios</button></p>
  <thead class="thead-dark text-center">
    <tr>
      <th>CEDULA TITULAR</th>
      <th>DEPARTAMENTO</th>
      <th>MUNICIPIO</th>
      <th>CODMUNICIPIO</th>
      <th>RESGUARDO</th>
      <th>COMUNIDAD</th>
      <th>CABILDO</th>
      <th>PUEBLOINDIGENA</th>
      <th>ESTADOHOGAR</th>
      <th>TITULAR AVALADO SI o NO</th>
      <th>NOMBRE DEL CABILDO</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(item=> { %>
      <tr>
        <td>
          <%= item['CEDULA TITULAR'] %>
        </td>
        <td>
          <%= item['DEPARTAMENTO'] %>
        </td>
        <td>
          <%= item['MUNICIPIO'] %>
        </td>
        <td>
          <%= item['CODMUNICIPIO'] %>
        </td>
        <td><input type="text" class="form-control" value="<%= item['RESGUARDO'] %>"></td>
        <td><input type="text" class="form-control" value="<%= item['COMUNIDAD'] %>"></td>
        <td><input type="text" class="form-control" value="<%= item['CABILDO'] %>"></td>
        <td><input type="text" class="form-control" value="<%= item['PUEBLOINDIGENA'] %>"></td>
        <td><input type="text" class="form-control" value="<%= item['ESTADOHOGAR'] %>"></td>
        <td>
          <select size="1" class="form-select">
            <% if (item['TITULAR AVALADO SI o NO']==='SI' ) { %>
              <option value="SI" selected>SI</option>
              <option value="NO">NO</option>
              <% } else if (item['TITULAR AVALADO SI o NO']==='NO' ) { %>
                <option value="SI">SI</option>
                <option value="NO" selected>NO</option>
                <% } else { %>
                  <option value="" selected></option>
                  <option value="SI">SI</option>
                  <option value="NO">NO</option>
                  <% } %>
          </select>
        </td>
        <td><input type="text" class="form-control" value="<%= item['NOMBRE DEL CABILDO'] %>"></td>
      </tr>
      <% }) %>
  </tbody>
  <tfoot>
    <tr>
      <th>CEDULA TITULAR</th>
      <th>DEPARTAMENTO</th>
      <th>MUNICIPIO</th>
      <th>CODMUNICIPIO</th>
      <th>RESGUARDO</th>
      <th>COMUNIDAD</th>
      <th>CABILDO</th>
      <th>PUEBLOINDIGENA</th>
      <th>ESTADOHOGAR</th>
      <th>TITULAR AVALADO SI o NO</th>
      <th>NOMBRE DEL CABILDO</th>
    </tr>
  </tfoot>
</table>

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3 mb-2 bg-primary-subtle text-primary-emphasis">
      <div class="modal-header">
        <h5 class="modal-title text-primary-emphasis" id="updateModalLabel">Actualización completada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body alert alert-info">
        <p id="updateMessage" class="text-primary-emphasis"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary bg-primary-subtle text-ligth-emphasis btn-sm me-2 rounded-3"
          data-bs-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script
  src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/fc-5.0.1/datatables.min.js"></script>

<!-- Script para inicializar DataTable -->
<script src="/js/dataTable.js"></script>